<!DOCTYPE html>
<html>
    <head>
        <title>Wrox.ProMvc4.ExtendingMvc Samples</title>
        <style type="text/css">
            body {
                font-family: "Segoe UI", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
                color: #232323;
                background-color: #fff;
                margin-left: 1em;
            }
        </style>
    </head>
    <body>
        <h2>Wrox.ProMvc4.ExtendingMvc Samples</h2>

        <h3>Extending Models</h3>
        <ul>
            <li><a href="@Href("~/ModelBinder")">Model Binder Sample</a></li>
            <li><a href="@Href("~/FluentMetadata")">Fluent Metadata Sample</a></li>
            <li><a href="@Href("~/FluentValidation")">Fluent Validation Sample</a></li>
        </ul>

        <h3>Extending Views</h3>
        <ul>
            <li><a href="@Href("~/ActionNameSelector")">Action Name Selector Sample</a></li>
            <li><a href="@Href("~/ActionMethodSelector")">Action Method Selector Sample</a></li>
        </ul>

        <h3>Extending Controllers</h3>
        <ul>
            <li><a href="@Href("~/TimingFilter")">Timing Filter Sample</a></li>
            <li><a href="@Href("~/CustomActionResult")">Custom ActionResult Sample</a></li>
        </ul>
    </body>
</html>
